{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="row-fluid">
    <div class="col-md-12">
      <h1>Über das Projekt</h1>
      <p>mobilität finden sammelt Informationen über Car- und Bike-Sharing-Anbieter sowie Park- und Abstellmöglichkeiten und stellt diese übersichtlich mit einer schnellen Suche dar.</p>
      <h2>Die Problemstellung</h2>
      <p>Mobilität zu leihen statt eigene Fahrzeuge zu besitzen hat viele Vorteile. Leihen bedeutet Flexibilität, immer das richtige Fortbewegungsmittel zu wählen: in der Stadt eher Räder oder ÖPNV, nachts eher Individualverkehr wie Räder umnd Autos, auf die Strecke eher Bahn oder Autos. Zusätzlich hat man die Flexibilität, die richtige Fahrzeuggröße zu wählen: für Lasten lohnt sich ein Transporter oder ein Lastenrad, beides ist im Alltag aber eher hinderlich. Außerdem ist Sharing auch noch umweltfreundlich.</p>
      <h2>Die richtige Mobilität finden</h2>
      <p>Das Problem ist nur häufig, dass man nicht weißt, welche Anbieter es gibt und wo diese ihre Stationen haben. Dies soll von dieser Seite beantwortet werden. Egal, ob man die Sharing-Angebote in seiner Stadt kennenlernen will oder als erfahrener Sharing-Nutzer in fremden Städten Angebote sucht: wir wollen Ihnen die Informationen geben, die Sie benötigen.</p>
      <p>Zusätzlich nehmen wir auch Park- und Abstellmöglichkeiten in die Übersichtskarte mit auf, denn auch bei geteilter Mobilität muss man sein Rad oder sein Auto auch irgendwann abstellen.</p>
      <h2>Projektgeschichte</h2>
      <p>Der Verein ruhrmobil-E beschäftigt sich seit seiner Entstehung mit Mobilitätskonzepten und intermodaler Mobilität, da Elektromobilität nur bei einer gesamten Betrachtung unserer Mobilität sinnvoll einsetzbar ist und sich ideal für Sharing-Fahrzeuge eignet. Dies äußerte sich unter anderem in der Teilnahme an den <a href="https://ruhrmobil-e.de/2012/01/19/pressekonferenz-schaufenster-elektromobilitaet-bochum-impressionen/">Schaufenstern Elektromobilität</a>.</p>
      <p>Elementarer Teil unserer Ideen davon war immer eine Informationsplattform, mit der die verschiedenen Angebote besser nutzbar gemacht werden können. Denn nur mit Live-Informationen und Informationen über viele Anbieter hinweg wird Sharing-Mobilität komfortabel nutzbar.</p>
      <p><a href="https://ruhrmobil-e.de/google-impact-challenge-mehr-informationen-fuer-bessere-mobilitaet/">Diese Idee haben wir bei der Google Impact Challenge eingereicht</a> und werden nun <a href="https://impactchallenge.withgoogle.com/deutschland/charity/ruhrmobil-e">als regionales Projekt unterstützt</a>. Die erste Fassung von mobilität finden ist dann auf einem Hackathon des Landes NRW entstanden <a href="https://open.nrw/de/content/kumpel-krefeld-gewinnt-nrw-hackathon">und wurde dort mit dem 2. Platz prämiert</a>.</p>
    </div>
  </div>
</div>
{% endblock %}